
.account .hyperlink{
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  z-index: 2;
}

.account{
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  background-color: #efefef;
  position: relative;
  z-index: 2;
  padding: 40px 20px 20px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0px 0px 10px #e9e9e9;
  cursor: pointer;
  transition: 0.5s;
  height: 146px;
  box-sizing: border-box;
  border: none;
  user-select: none;
}

.account:hover{
  transform: scale(1.01);
  filter: brightness(1.05);
}

.account h2{
  font-size: 20px;
  z-index: 2;
  margin: 0;
  font-family: "GeneralSans Regular";
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

.account p{
  font-size: 25px;
  z-index: 2;
  margin: 0;
  font-family: "GeneralSans Regular";
}

.account .background{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.account .backgroundGradient {
  background: radial-gradient(130.52% 100.5% at 50% -9.9%, rgba(255,255,255, 0.2) 10%, rgba(255,255,255, 0) 100%), rgba(var(--background-color), 0.8);
  background-position: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.account .background img{
  position: relative;
  display: block;
}

.account .chart{
  position: absolute;
  /* allign center */
  top: 50%;
  right: 20px;
  transform: translate(0%, -50%);
  width: 80px;
}

.account .chart *{ 
  pointer-events: none;
}

.account .chart .fillPercent{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account .chart span{
  font-size: 10px;
  font-family: "GeneralSans Regular";
  color: rgb(var(--background-color));
  filter: brightness(0.9);
}

.account .iban{
  margin-top: auto;
  font-family: "GeneralSans Regular";
  font-size: 15px;
  display: flex;
  align-items: center; 
  gap: 5px;
}

.copyButton{
  outline: none;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-family: "GeneralSans Regular";
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.copyButton:hover{
  color: rgba(255, 255, 255, 1);
}

.account .accountHolder{
  font-family: "GeneralSans Regular";
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.account .seeAccoutDetails{
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  font-family: "GeneralSans Regular";
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 21;
}

.account .seeAccoutDetails:hover{
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.01);
}

.account .seeAccoutDetails p{
  font-size: 12px !important;
}

.account .balanceDistribution{
  position: absolute;

  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  font-size: 20px;
  font-family: "GeneralSans Regular";
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 21;
  display: flex;
  text-align: center;
  color: rgba(var(--background-color), 1);
  filter: brightness(0.9);
}