.home-navigation{
  flex: 0.10;
  padding: 10px 30px;
  box-shadow: 0px 0px 10px #e9e9e9b9;
  background-color: #fdfefebc;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;

  /* blur */
  backdrop-filter: blur(15px);
}

.home-navigation .logo-home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: fit-content;
  cursor: pointer;
}

.home-navigation .options{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.home-navigation .options > div{
  text-decoration: none;
  color: #000000;
  font-family: "GeneralSans Regular";
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}

.home-navigation .options > div:hover{
  color: #4d8bf7;
}

.home-navigation .options .get-started{
  background-color: #4d8bf7;
  border: 1px solid #4d8bf7;
  font-family: "GeneralSans Medium";
  border-radius: 125px;
  padding: 10px 20px;
  color: #fff;
}

.home-navigation .options .get-started:hover{
  transform: scale(1.02);
  color: #fff;
}