.transactions{
  display: flex;
  height: 100vh;

  .content{
    flex: 0.90;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
    position: relative;
    margin-top: 40px;
  }

  h1{
    font-family: "GeneralSans SemiBold";
    font-size: 25px;
    margin: 0;
  }
}

.transactions .loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "GeneralSans Regular";
  font-size: 20px;
  color: #b8b8b8;
  text-align: center;
}

.transactions .filters{
  margin-top: 20px;
}

.transactions .filters hr{
  margin-top: 20px;
  margin-bottom: 0px;
  border-color: #e2e2e2;
  border-left: none;
  border-right: none;
  border-top: none;
}

.transactions .select {
  font-family: "GeneralSans Regular";
  font-size: 13px;
}

.transactions .filters .row{
  display: flex;
  gap: 10px;
  align-items: end;
}

.transactions .filters .row > span{
  margin-bottom: 12px;
}

.transactions .filters .column{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.transactions .filters label{
  font-family: "GeneralSans Regular";
  color: #000;
  font-size: 15px;
}

.transactions .transactions-list{
  transition: 0.2s;
  flex: 1;
  overflow: auto;
}

.transactions .transactions-list.loading-data{
  opacity: 0.5;
}

.transactions .pagination{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.transactions .pagination button{
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "GeneralSans Regular";
  font-size: 13px;
  transition: 0.5s;
  margin-right: 5px;
}

.transactions .pagination button.disabled{
  opacity: 0.5;
  pointer-events: none;
}

.transactions .pagination button:hover{
  background-color: #f2f2f2;
}

.transactions .pagination button.active{
  border: 1px solid #4d8bf7;
  color: #4d8bf7;
}

.transactions .no-data{
  font-family: "GeneralSans Light";
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  width: 80%;
  z-index: 0;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

@media only screen and (max-width:1150px) {
  .transactions .transaction .type{
    font-size: 13px;
  }
  .transactions .transaction .category{
    font-size: 13px;
  }
  .transactions .transaction .amount{
    font-size: 15px !important;
  }
  .transaction.table .icon{
    font-size: 12px !important;
    padding: 10px !important;
  }
  .transaction.table .date{
    padding: 10px !important;
    margin-right: 5px !important;
  }
}

@media only screen and (max-width:800px) {
  .transactions .filters .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

  .transactions .transaction.table{
    position: relative;
  }

  .transactions .transaction .date{
    position: absolute;
    top: 0px;
    right: 0;
    border: none !important;
  }

  .transactions .transaction .amount{
    margin-top: 10px;
  }
}