.logo{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  padding: 20px;
  z-index: 1;
}

.logo img{
  width: 200px;
  height: fit-content;
}

.termsContainer{
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(43, 43, 43);
}

.termsContainer .content{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  position: relative;
}

.termsContainer h2{
  text-align: info;
  font-family: "GeneralSans Bold";
  font-weight: 500;
  margin: 30px 0px 5px 0px;
  font-size: 20px;
}

.termsContainer p{
  text-align: info;
  font-family: "GeneralSans Regular";
  font-weight: 500;
  margin: 0px;
  font-size: 15px;
}

.termsContainer footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #4d8bf7;
}

.termsContainer footer .copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 10px;
  color: #fff;
  font-family: "GeneralSans Regular";
  font-size: 15px;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
}

.termsContainer footer .copyright img{
  height: 40px;
  width: fit-content;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .termsContainer .content{
    width: 80%;
  }

  .logo img{
    width: 100px;
  }
}

@media only screen and (max-width:1150px) {
  .termsContainer .content{
    width: 70%;
  }

  .logo img{
    width: 150px;
  }
}