.logo{
  position: fixed;
  top: 20px;
  left: 20px;
}

.logo img{
  width: 200px;
  height: fit-content;
}

.loginContainer{
  display: flex;
  height: 100vh;
}

.loginContainer .info{
  flex: 0.45;
  display: flex;
  background-color: #4d8bf7;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginContainer .info h2{
  color: #fff;
  font-size: 20px;
  margin: 30px 0px 15px;
  text-align: center;
  width: 40%;
  font-family: "GeneralSans SemiBold";
  font-weight: 500;
}

.loginContainer .info p{
  color: #fff;
  font-size: 12px;
  width: 32%;
  margin: 0px;
  text-align: center;
  font-family: "GeneralSans Regular";
}

.loginContainer .login{
  flex: 0.55;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginContainer .login h2{
  text-align: info;
  width: 40%;
  font-family: "GeneralSans Bold";
  font-weight: 500;
}

.loginContainer .login form{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "GeneralSans Regular";
  position: relative;
}

.loginContainer .login form input{
  margin-bottom: 10px;
}

.loginContainer .login .error{
  color: rgba(255, 0, 0, 0.786);
  font-size: 13px;
  font-family: "GeneralSans Regular";
  text-align: left;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.loginContainer .login .signUp{
  color: #4d8bf7;
  font-size: 13px;
  font-family: "GeneralSans Regular";
  cursor: pointer;
}