.statistics .chart canvas{
  width: 100%;
  margin-top: auto;
}

.statistics .chart{
  display: flex;
  flex-direction: column;
}

.statistics {
  padding: 20px;
  box-shadow: 0px 0px 5px #e9e9e9;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-sizing: border-box;
}

.statistics h2{
  color: #000;
  font-size: 20px;
  margin: 0px;
  font-family: "GeneralSans Regular";
  font-weight: normal;
}